{% extends "base.html" %}

{% block content %}

<div class="page-wrapper" style="max-width:600px; margin-top:40px;">

<div class="card">

<h2 style="text-align:center;">Welcome to TraitzHire</h2>
<p style="text-align:center; margin-bottom:20px;">
What would you like to do?
</p>

<form method="POST">

{% csrf_token %}

<button name="role" value="seeker" class="btn btn-primary btn-block">
I am looking for a Job
</button>

<br>

<button name="role" value="employer" class="btn btn-outline btn-block">
I want to Hire Talent
</button>

</form>

</div>

</div>

{% endblock %}