{% extends "base.html "%}

{% block content %}
{%  load static %}
<h2>Employer Dashboard</h2>
<div class="card" style="padding:20px; margin-bottom:20px;">

    <div style="display:flex; align-items:center; gap:20px;">

        <!-- LOGO / AVATAR -->
        {% if employer.logo %}
            <img src="{{ employer.logo.url }}" 
                 style="width:80px; height:80px; border-radius:50%; object-fit:cover;">
        {% else %}
            <img src="/static/images/default-avatar.png" 
                 style="width:80px; height:80px; border-radius:50%; object-fit:cover;">
        {% endif %}

        <!-- COMPANY INFO -->
        <div>
            <h2>{{ employer.company_name }}</h2>
            <p>{{ employer.location }}</p>

            {% if employer.website %}
                <a href="{{ employer.website }}" target="_blank">
                    {{ employer.website }}
                </a>
            {% endif %}
        </div>

    </div>

    <!-- EDIT BUTTON -->
    <div style="margin-top:15px;">
        <a href="{% url 'edit_employer_profile' %}" class="btn btn-primary">
            Edit Profile
        </a>
    </div>

</div>
<h3>Your Posted Jobs</h3>
<ul>
    {% for job in jobs %}
        <li>
            <strong>{{app.job.title}}</strong>
            - {{job.title}}
            -Applicants: {{job.application_set.count}}
            <a href="{% url 'manage_applicants' job.id %}"> <main>Manage Applicants</main></a>
        </li>
    {% empty %}
        <li>No Jobs Posted Yet</li>
    {% endfor %}
</ul>
<a href="{% url 'create_job' %}">Post New Job</a>
{% endblock %}